-e git@git://github.com/leonardt/pycoreir@float-fix#egg=pycoreir
-e git+git://github.com/phanrahan/magma@coreir-libs-opts#egg=magma-lang
-e git+git://github.com/phanrahan/peak.git#egg=peak
-e git+git://github.com/rdaly525/MetaMapper.git#egg=metamapper
-e git+git://github.com/leonardt/fault@timestamp-edit#egg=fault
-e git+git://github.com/phanrahan/mantle#egg=mantle
cosa
hwtypes
