-e git+https://github.com/phanrahan/magma#egg=magma-lang
-e git+https://github.com/phanrahan/peak.git#egg=peak
-e git+https://github.com/leonardt/fault#egg=fault
-e git+https://github.com/phanrahan/mantle#egg=mantle
cosa
-e git+https://github.com/leonardt/hwtypes#egg=hwtypes
